<h1>Add a new item to @Model.Name</h1>
<form action='/items' method='post'>
  <label for='categoryId'>Select category</label>
  <select id='categoryId' name='categoryId'>
    @foreach (var category in @Model)
    {
      <option value="@category.Id">@category.Name</option>
    }
  </select>
  <label for='itemDescription'>Item description</label>
  <input id='itemDescription' name='itemDescription' type='text'>
  <label for='itemDueDate'>Due Date</label>
  <input id='itemDueDate' name='itemDueDate' type='date'>
  <button type='submit'>Add item</button>
</form>
