<h1>@Model["item"].GetDescription() Detail Page</h1>
<h3>Category: @Model["category"].Name</h3>
<h3><a href="/items/@Model["item"].GetId()/update">Update this item</a></h3>
<h3><a href="/categories/@Model["category"].Id/items">Back to the items page</a></h3>
<form action="/items/@Model["item"].GetId()/delete" method="post">
<button type="submit">Delete</button>
</form>
