<h1>To Do List</h1>
<ul>
  @foreach (var item in @Model)
  {
    <li><a href="/items/@item.GetId()">@item.GetDescription()</a> @item.GetDueDate() | <a href="/items/@item.GetId()/update">Edit</a></li>
  }
</ul>
<a href="/items/new">Add a new item.</a>
